@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .list-interpunct > li:before {
    content: "・";
    float: left;
    margin: 0 0 0 -0.9em;
    width: 0.9em;
  }

  @media (min-width: 992px) {
    .list-interpunct > li:before {
      margin: 0 0 0 -1.5em;
      width: 1.5em;
    }
  }
  input.hide-arrows[type=number]::-webkit-inner-spin-button, 
  input.hide-arrows[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  }
  input.checkbox[type=checkbox]{
    @apply focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded;
  }
  input.radio[type=radio]{
    @apply focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300;
  }
  input.field, textarea.field{
    @apply focus:ring-blue-500 focus:border-blue-500 flex-grow pl-7 sm:text-sm border-gray-300 rounded-md shadow-sm block w-full;
  }
}
